.classblock {
    @include flex(center, space-between);
    background: #ffffff;
    border: 0.35px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-direction: row;
    color: #00000066;
    column-gap: 20px;
    margin-top: 10px;
    &-name {
        width: 100%;
    }
    &-icon {
        padding-top: 4px;
    }
}
