@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    @include mobile {
        font-size: 10pt;
    }
    .MuiButton-root {
        width: 100%;
        height: 100%;
    }
    .MuiInputBase-root {
        color: $txt-third-color;
    }
    .MuiOutlinedInput-root {
        color: $txt-third-color;
        outline: $txt-third-color;
    }

    .MuiButton-root {
        color: $btn-main-color;
        background-color: $btn-main-bg;
        opacity: 1;
        transition: 0.75s;
        height: 100%;
    }
    .MuiButton-root:hover {
        color: $btn-main-color;
        background-color: $btn-main-bg;
    }
    .btnError {
        .MuiButton-root:hover,
        .MuiButton-root {
            background-color: $btn-second-bg;
        }
    }
    .MuiDataGrid-columnHeaderTitle {
        color: black;
        font-weight: 900 !important;
    }
    .MuiDataGrid-cell {
        color: $txt-third-color;
        font-weight: 700;
    }
    .MuiDataGrid-root {
        border-left: unset;
        border-right: unset;
    }
    .MuiBreadcrumbs-root {
        margin-left: 10px;
    }
    .MuiDivider-root {
        margin: 0;
    }
    .MuiPaper-root {
        box-shadow: none;
    }
}
a {
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-radius: 5px;
    padding: 0px 5px;
    transition: ease-in 0.25s;

    &:hover,
    &:focus {
        background-color: #2e2e2e86;
    }
    &:active {
        background-color: #00000066;
    }
}

.main {
    color: $txt-main-color;
    padding: calc(#{$header-height} + 10px) 0.25rem 0 0.25rem;
    a {
        color: $txt-main-color !important;
    }
}
.container {
    height: 100%;
    background-image: url("../asset/pictures/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: black;
    background-attachment: fixed;
    overflow: auto;
    a {
        color: black !important;
    }
}
